# IDE (PyCharm, VS Code)
.idea/
.vscode/
*.iml

# Python - kompilaty i cache
__pycache__/
*.py[cod]
*$py.class

# Środowiska wirtualne (widzę venv3 na Twoim screenie!)
venv/
venv3/
env/
test.py

# Systemowe
.DS_Store
thumbs.db